<div class="row" ng-cloak>
    <div class="col-sm-offset-3 col-sm-7">
        <h3 class="text-center">Enter your data to sign up</h3>
    </div>
    <div class="col-sm-offset-3 col-sm-7 well">
        <form class="form-horizontal" name="signUpForm" novalidate ng-submit="$ctrl.menu.submit($ctrl.model)">
            <!--____________________________________________________________________________________-->
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Enter your email adress:</label>
                <div class="col-sm-8">
                    <input type="email" style="width:300px;" ng-model="$ctrl.model.email" name="email" id="email" ng-changed="setValidity('email','email', true)" required>
                </div>
                <div ng-messages="signUpForm.email.$error" class="col-sm-offset-4 col-sm-8">
                    <div ng-message="email">{{$ctrl.menu.authUser.errorsMessages.signUp.email}}</div>
                </div>
            </div>
            <!--____________________________________________________________________________________-->
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Enter your password:</label>
                <div class="col-sm-8">
                    <input type="password" style="width:300px;" ng-model="$ctrl.model.password" name="password" id="password" ng-changed="setValidity('password','required', true)" ng-model-options="{updateOn: 'default', debounce: { default: 500, blur: 0 }}" required>
                </div>
                <div ng-messages="signUpForm.password.$error" class="col-sm-offset-4 col-sm-8">
                    <div ng-message="required">{{$ctrl.menu.authUser.errorsMessages.signUp.password}}</div>
                </div>
            </div>
            <!--____________________________________________________________________________________-->
            <div class="form-group">
                <label for="password_confirmation" class="col-sm-4 control-label">Enter the same password again:</label>
                <div class="col-sm-8">
                    <input type="password" style="width:300px;" ng-model="$ctrl.model.password_confirmation" name="password_confirmation" id="password_confirmation" ng-changed="setValidity('password_confirmation','required', true)" ng-model-options="{updateOn: 'default', debounce: { default: 500, blur: 0 }}"
                        required>
                </div>
                <div ng-messages="signUpForm.password_confirmation.$error" class="col-sm-offset-4 col-sm-8">
                    <div ng-message="required">{{$ctrl.menu.authUser.errorsMessages.signUp.password_confirmation}}</div>
                </div>
            </div>
            <!--____________________________________________________________________________________-->
            <div class="form-group ">
                <div class="col-sm-offset-4 col-sm-8 ">
                    <button type="submit " class="btn btn-info">Submit</button>
                </div>
            </div>
            <!--____________________________________________________________________________________-->
        </form>
    </div>
</div>