<div style="position: relative;">
<img ng-src="{{shotCtrl.getImageUrl(shot)}}"
     ng-click="shotCtrl.goToShot(shot.id)"
     ng-mouseover="shotCtrl.setHovered(shot)"
     ng-mouseleave="shotCtrl.setNotHovered(shot)"
     width="280" alt="Shot thumbnail"
     class="shot">

<i ng-if="shot.avatar_content_type == 'image/gif'" class="material-icons md-48">gif</i>
</div>
<br>
<h5 class="text-center">{{shot.id}} - {{shot.title}}</h5>
<!-- Preloading -->
<div ng-if="shot.avatar_content_type == 'image/gif'" 
     style="display: none; position: absolute">
    <img ng-src="{{shot.avatar}}">
</div>