<div class="row">
   <div class="col-sm-12">
      <form ng-if="!ifc.model.success" name="feedbackForm" novalidate ng-submit="ifc.menu.submit()">
         <h3>Please, fill out form fields for your feedback.</h3>
         <br>
         <!--____________________________________________________________________________________-->
         <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Enter your email:</label>
            <div class="col-sm-8">
               <input style="width:300px;" type="email" ng-model="ifc.model.feedback.email" name="email" id="email" required placeholder="               username@example.com">
            </div>
         </div>
         <br>
         <br>
         <!--____________________________________________________________________________________-->
         <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Enter your name:</label>
            <div class="col-sm-8">
               <input style="width:300px;" type="text" ng-model="ifc.model.feedback.name" name="name" id="name" required>
            </div>
         </div>
         <br>
         <br>
         <!--____________________________________________________________________________________-->
         <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Enter your message:</label>
            <div class="col-sm-8">
               <textarea style="width:300px;" ng-model="ifc.model.feedback.message" name="message" maxlength="500" required id="message"></textarea>
            </div>
         </div>
         <br>
         <br>
         <br>
         <!--____________________________________________________________________________________-->
         <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
               <button type="submit" class="btn btn-info">Submit</button>
            </div>
         </div>
         <!--____________________________________________________________________________________-->
      </form>
   </div>
   <br>
   <br>
   <div class="col-sm-12" ng-if="ifc.model.success" style="padding-top: 100px; padding-bottom: 100px; color: green;">
      <p>Your feedback has been successfully sent.</p>
      <p>Thank you for your feedback.</p>
   </div>
   <div class="col-sm-12" ng-if="ifc.model.error" style="color:red;">
      <p>Your feedback has not sent.</p>
      <p>Please, fill out the form fields correctly.</p>
   </div>
</div>